

<link rel="stylesheet" href="/css/home.css">
<div id="home-container"> 
  <section id="from-section">           
       <form action="/habit/create" id="habit-from" method="POST">
            <input type="text" name="name" id="habitData" placeholder="Type Habit Here.." required>
            <button type="submit">
               <i class="fa-solid  fa-plus"></i>
            Add Habit</button>
       </form>
        
  </section>
  
       <div id="post-container">
           <ul>
                 <% for(let i of habits_List){%>
                       <li>
                         <div class="info-habit">
                              <p> <%= i.name %> </p>
                         </div>
                              <div class="status-btns" >
                                   <!-- for done -->
                                    <a href="/daily_task/create-for-done/?id=<%=i.id%>">
                                      <i class="fa-solid fa-check"></i>
                                    </a>
                                   <!-- for not done  -->
                                   <a href="/daily_task/create-for-not-done/?id=<%=i.id%>"> 
                                    <i class="fa-solid fa-times"></i>
                                   </a>
                                   <!-- for skip the today -->
                                   <a href="/daily_task/create-for-skip/?id=<%=i.id%>"> 
                                        <i class="fa-solid fa-minus"></i>
                                       </a>
                              </div>
                              <div class="det-btn">
                                   <a href="/habit/delete/?id=<%=i.id%>">
                                        <i class="fa-solid fa-trash"></i>
                                    </a> 
                                         
                              </div>         
                       </li>
                 <%}%>
           </ul>
       </div>
</div>

 <script src="/js/home.js" ></script>